@import "global";

/* Highly dynamic CSS logo. Requires Bigtext.js. */
.logo {
  color: $lightblue;
  font-family: "MyriadPro-Light", sans-serif;
  font-size: 1.25em;
  text-align: center;

  strong {
    font-family: "MyriadPro-Regular", sans-serif;
    font-variant: small-caps;
  }

  & div:first-child {
    line-height: .70em;
  }

  & div:nth-child(2) {
    font-variant: small-caps;
    letter-spacing: .45em;
    padding-bottom: .70em;
  }
}
