/* Highly dynamic CSS logo. Requires Bigtext.js. */
.logo {
  color: $lightblue;
  font-family: "MyriadPro-Light", sans-serif;
  text-align: center;

  div { line-height: .68em; }

  strong {
    font-family: "MyriadPro-Regular", sans-serif;
    font-variant: small-caps;
  }

  & div:nth-child(2) {
    font-variant: small-caps;
    letter-spacing: .46em;
    padding-bottom: .75em;
  }
}
