$footer-height: 200px;

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto $footer-height * -1;
}

#push, #footer {
  height: $footer-height;
}
