/* events.css.scss
This is where styles specific to the events page live. */

.events {
  h3 {
    margin: 3px 0;
  }

  .panel-body {
    padding: 0;
  }

  .entry {
    margin-bottom: 0;
  }
}

#event {
  margin-bottom: 20px;
}