/* members.css.scss
This is where styles specific to the members page live. */

ul#members {
  list-style: none;
  padding: 0;
}

form#new_member {
  margin-bottom: 20px;

  .alert {
    margin-bottom: 3px;
  }
}