#contact {
    float: right;
    width: 32em;
}

#about p, #about ul {
    font-size: 1.3em;
    line-height: 1.4;
}

#about li {
    padding-bottom: 5px;
}

#about {
    float: left;
    width: 30em;
}

#contact h2 {
    font-size: 2em;
}
