body {
    background-color: #005ca1;
    margin: 0;
    color: #333;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 10pt;
    padding: 60px 0 60px;
}

a, a:visited {
    color: #13C;
}

img {
    border: 0;
}

#content {
    clear: both;
    margin: 10px auto;
    padding: 2em 4em;
    width: 70em;
    background-color: #fffeff;
    overflow: hidden;
}

.clearboth {
    clear: both;
}

.clearfix {
    min-height: 1%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#header {
    text-align: center;
    overflow: hidden;
}

#navigation {
    font-size: 1.7em;
}

#navigation ul {
    margin: 1em 0 1em 0;
}

#navigation ul a, #navigation ul a:visited {
    color: #FFF;
    text-decoration: none;
    padding: 5px 12px;
}

#navigation ul li {
    list-style-type: none;
    display: inline;
    padding: 5px 0 4px;
    margin: 0 1px;
}

.title {
    font-size: 3em;
    margin-top: 15px;
    margin-bottom: 20px;
    text-shadow: #BBB 0px 1px 0px;
}

.text {
    font-size: 1.1em;
    line-height: 1.4;
}
