#about {
    padding-bottom: 3em;
    font-size: 1.3em;
}

#about .nuacm {
   font-size: 2em;
}

#photos {
    float: right;
    margin: 0 0 2em 2em;
    box-shadow: 1px 1px 5px #000;
}

#events h2 {
    margin-top: 0px;
    margin-bottom: -7px;
    font-size: 2.5em;
    text-shadow: #BBB 0px 1px 0px;
}

.event-title {
    font-size: 1.4em;
    font-weight: bold;
}

.event-body {
    clear: left;
    padding: 0 0 0 5px;
}

.event-where {
    float: left;
    font-size: 0.8em;
    padding: 0 0 0 5px;
    clear: left;
    font-style: italic;
}

.event-when {
    float: left;
    font-size: 0.8em;
    padding: 0 0 0 5px;
    clear: left;
    font-style: italic;
}

.event {
    overflow: hidden;
}
