#about {
    padding-bottom: 3em;
    font-size: 1.3em;
}

#about .nuacm {
   font-size: 2em;
}

#photos {
    float: right;
    box-shadow: 1px 1px 5px #000;
}

#events h2 {
    margin-top: 0px;
    font-size: 2.5em;
    text-shadow: #BBB 0px 1px 0px;
}

#events-list {
    float: left;
    padding: 0px;
    position: relative;
    width: 30em;
}

.event-title {
    font-size: 1.4em;
    font-weight: bold;
}

.event-body {
    clear: left;
}

.event-where {
    float: left;
    font-size: 0.8em;
    padding: 5px;
}

.event-when {
    float: left;
    font-size: 0.8em;
    padding: 5px;
}
