#member-info {
    margin-right: 3em;
    padding-top: 0em;
}

#members p {
    font-size: 1.2em;
    font-weight:  bold;
    float: left;
    margin: 1em;
    width: 180px;
}

#members p a {
    text-decoration: none;
    color: inherit;
}
