<% unless flash.empty? %>
  <div class="row">
    <div class="col-lg-12">
      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <p><%= flash[:alert] %></p>
        </div>
      <% end %>

      <% if flash[:notice] %>
        <div class="alert alert-info">
          <p><%= flash[:notice] %></p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>