<div id="footer">
  <div class="container">
    <ul class="pull-left">
      <li><p class="cr">&copy; NUACM 2013.</p></li>
      <li><p><%= mail_to "acm@ccs.neu.edu", "Contact" %></p></li>
      <li><p><a href="https://maps.google.com/?q=440+Huntington+Avenue,Boston,MA+02115" target="_blank">Location</a></p></li>
    </ul>

    <ul class="pull-right">
      <li><%= link_to "Sign up", signup_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Source Code", "https://github.com/nuacm" %></li>
    </ul>
  </div>
</div>
