<div class="footer">
	<div class="content">
		<div class="center">
			<!-- Begin MailChimp Signup Form -->
			<div id="mc_embed_signup">
			<form action="http://neu.us7.list-manage2.com/subscribe/post?u=c63e996ca44a0ec7d4dd8f944&amp;id=7e5f3fd9f8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<label for="mce-EMAIL">Sign up for our mailing list! It's better than sitting in your room and playing League.</label><br/>
				<input style="margin-top:10px;" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
			</form>
			</div>

			<!--End mc_embed_signup-->
		</div>
	</div>
</div>