<div class="footer">
	<div class="content">
		<div class="center">
			<p>Sign up for our mailing list! It's better than sitting in your 
				room and playing league.</p>

				<input type="email" value="user@husky.neu.edu">
				<input type="submit">
		</div>

	</div>
</div>