<div class="footer">
	<div class="content">
		<div class="center">
			<p>Sign up for our mailing list! It's better than sitting in your 
				room and playing league.</p>
			<form class="subscribe">
				<input type="email" placeholder="user@husky.neu.edu">
				<input type="submit" class="btn">
			</form>
		</div>
	</div>
</div>