<% if current_member %>
  <span class="logged-in">Logged in as <%= current_member.name %></span>
  <span class="log-out"><%= link_to "Log Out", logout_path, :method => :delete %></span>
<% else %>
  <span class="sign-up"><%= link_to "Sign Up", signup_path %>
  <%= link_to "Sign In", login_path %>
<% end %>