<div class="col-lg-4 col-lg-offset-1 col-md-5">
  <h3>Stay Informed</h3>
  <p>Want to stay up to date with what's happening on campus?
    Do you want to attend really cool events and workshops? Then make sure you
    subscribe to our <a href="http://www.google.com/calendar/render?cid=https%3A%2F%2Fwww.google.com%2Fcalendar%2Ffeeds%2Facm%2540ccs.neu.edu%2Fpublic%2Fbasic" target="_blank">Google Calendar</a>
    and <a href="https://www.facebook.com/nuacm" target="_blank">like our Facebook
    page</a>.
  </p>

  <h3>Give a Talk</h3>
  <p>Do you have something really cool you want to share with us? We'd love to
  have you come in and share it with us. We love having new people share new
  and interesting things with us. Check out the <%= link_to "speak page", speak_path %>
  for more informaion on giving a talk at NUACM.
  </p>
</div>