<h2 id="forms">Forms</h2>

<h3>Input elements</h3>

<dl>

  <dt><code>&#060;input type="text"&#062;</code></dt>
  <dd>
    <p>Please run <input type="text" placeholder="command"> on the next build.</p>
  </dd>

  <dt><code>&#060;input type="email"&#062;</code></dt>
  <dd>
    <p>My email is <input type="email"> please don't spam me.</p>
  </dd>

  <dt><code>&#060;input type="date"&#062;</code></dt>
  <dd>
    <p>I was born on <input type="date"> and the world was never the same.</p>
  </dd>

  <dt><code>&#060;input type="url"&#062;</code></dt>
  <dd>
    <p>
      I've love a lot of things on the internet, but <input type="url"> is my
      favorite thing.
    </p>
  </dd>

  <dt><code>&#060;input type="search"&#062;</code></dt>
  <dd>
    <p>I'm looking for <input type="search"> for my current project.</p>
  </dd>

  <dt><code>&#060;input type="password"&#062;</code></dt>
  <dd>
    <p>My super secret password is <input type="password"></p>
  </dd>

  <dt><code>&#060;input type="radio"&#062;</code></dt>
  <dd>
    <p>
      <input type="radio" name="foods" value="Milk"> Milk
      <input type="radio" name="foods" value="Butter" checked> Butter
      <input type="radio" name="foods" value="Cheese"> Cheese
    </p>
  </dd>

  <dt><code>&#060;input type="file"&#062;</code></dt>
  <dd>
    <p>
      Please upload the best code you've ever written. <input type="file">
    </p>
  </dd>

  <dt><code>&#060;input type="submit"&#062;</code></dt>
  <dd>
    <p>
      When you're finished <input type="submit"> this form (does nothing).
    </p>
  </dd>

  <dt><code>&#060;select&#062;</code></dt>
  <dd>
    <p> My favorite (reasonable) car is made by
      <select>
        <option value="mercedes">BMW</option>
        <option value="saab">Saab</option>
        <option value="audi">Audi</option>
      </select>
    </p>
  </dd>

  <dt><code>&#060;textarea&#062;</code></dt>
  <dd>
    <p>Enter the error please.</p>
    <textarea placeholder="Enter error here."></textarea>
  </dd>

</dl>

<h3>In a form</h3>

<dl>

  <dt><code>&#060;form&#062;</code></dt>
  <dd>
    <form>
      <fieldset>
        <legend>Personalia:</legend>
        Name: <input type="text"><br>
        Email: <input type="email"><br>
        Date of birth: <input type="date">
      </fieldset>
    </form>
  </dd>

</dl>
