<h2 id="images">Images</h2>

<dl>

  <dt><code>&#060;img&#062;</code></dt>
  <dd>
    <%= image_tag 'playground/electrical_burn.jpg', :height => '300',
                                         :alt => 'My burned finger.',
                                         :title => 'Don\'t short a LiPo.' %>
  </dd>

  <dt><code>&#060;figure&#062;</code></dt>
  <dd>
    <figure>
      <%= image_tag 'playground/espresso.jpg', :height => '300',
                                           :alt => 'My burned finger.',
                                           :title => 'Don\'t short a LiPo.' %>
      <figcaption>
        This is what a delicious espresso looks like in the making.
      </figcaption>
    </figure>
  </dd>

</dl>
