<h2 id="images">Images</h2>

<dl>

  <dt><code>&#060;img&#062;</code></dt>
  <dd>
    <%= image_tag 'http://dummyimage.com/300x300/000/fff',
                  :height => '300',
                  :alt => 'Dummy image 1',
                  :title => 'Indeed very dumb.' %>
  </dd>

  <dt><code>&#060;figure&#062;</code></dt>
  <dd>
    <figure>
      <%= image_tag 'http://dummyimage.com/300x300/000/fff',
                    :height => '300',
                    :alt => 'Dummy image 2',
                    :title => 'What is this nonsence?' %>
      <figcaption>
        This is what a detailed explanation of whatever this image is.
      </figcaption>
    </figure>
  </dd>

</dl>
