<h2 id="links">Links</h2>

<dl>

  <dt><code>&#060;a&#062;</code></dt>
  <dd>
    <p>
      Go back to the <a href="/">home page</a>.
    </p>
  </dd>

  <dt><code>&#060;a href="mailto: ... "&#062;</code></dt>
  <dd>
    <p>
      Send me an <a href="mailto:nixpulvis@example.com">email</a>.
    </p>
  </dd>

  <dt><code>&#060;a target="_blank"&#062;</code></dt>
  <dd>
    <p>
      Check out <a href="https://www.kernel.org/" target="_blank">kernel.org</a>
      to learn more about the Linux kernel, and it's latest versions.
    </p>
  </dd>

  <dt><code>&#060;a href="# ... "&#062;</code></dt>
  <dd>
    <p>
      Check out the awesome styling of the <a href="#code">code</a> in the
      playground.
    </p>
  </dd>

</dl>
