<h2 id="logo">Logo</h2>

<p>The ACM logo is at the very heart of this application. Making it
dynamic and scalable is very important. There are two version
available <b>div</b> and <b>span</b>.</p>

<dl>

  <pre><code>
  <%="<div class=\"logo\">
    <div><strong>nu</strong>acm</div>
    <div>northeastern university</div>
  </div>" %>
  </code></pre>

  <dt><code>100px</code></dt>
  <dd style="width:100px;">
    <div class="logo">
      <div><strong>nu</strong>acm</div>
      <div>northeastern university</div>
    </div>
  </dd>

  <dt><code>200px</code></dt>
  <dd style="width:200px;">
    <div class="logo">
      <div><strong>nu</strong>acm</div>
      <div>northeastern university</div>
    </div>
  </dd>

  <dt><code>300px</code></dt>
  <dd style="width:300px;">
    <div class="logo">
      <div><strong>nu</strong>acm</div>
      <div>northeastern university</div>
    </div>
  </dd>

  <dt><code>400px</code></dt>
  <dd style="width:400px;">
    <div class="logo">
      <div><strong>nu</strong>acm</div>
      <div>northeastern university</div>
    </div>
  </dd>

  <dt><code>&#060;span class="logo"&#062;&#060;strong&#062;nu&#060;/strong&#062;acm&#060;/span&#062;</code></dt>
  <dd>

    <p style="font-size:12px;">I am an officer of
    <span class="logo"><strong>nu</strong>acm</span>, and it's pretty cool.</p>

    <p style="font-size:18px;">I am an officer of
    <span class="logo"><strong>nu</strong>acm</span>, and it's pretty cool.</p>

    <p style="font-size:24px;">I am an officer of
    <span class="logo"><strong>nu</strong>acm</span>, and it's pretty cool.</p>

  </dd>

</dl>
