<div class="events col-lg-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Upcoming Events</h3>
    </div>
    <div class="panel-body">
      <% @upcoming_events.each do |event| %>
        <%= render "shared/event", :event => event %>
      <% end %>
    </div>
  </div>
</div>

<div class="events col-lg-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Past Events</h3>
    </div>
    <div class="panel-body">
      <% @past_events.each do |event| %>
        <%= render "shared/event", :event => event %>
      <% end %>
    </div>
  </div>
</div>
