<div class="col-lg-7">
  <div class="events panel panel-default">
    <div class="panel-heading">
      <h3>Upcoming Events</h3>
    </div>
    <div class="panel-body">
      <% @upcoming_events.each do |event| %>
        <%= render "shared/event", :event => event %>
      <% end %>
    </div>
  </div>

  <br />

  <div class="events panel panel-default">
    <div class="panel-heading">
      <h3>Past Events</h3>
    </div>
    <div class="panel-body">
      <% @past_events.each do |event| %>
        <%= render "shared/event", :event => event %>
      <% end %>
    </div>
  </div>
</div>

<div class="col-lg-4 col-lg-offset-1">
  <h3>Keep up with our events</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <button class="btn btn-default">facebook</button>
  <button class="btn btn-default">google calendar</button>
</div>
