<div class="col-lg-12">
  <%= render "shared/event", :event => @event, :link => false %>

  <% if logged_in? :as_officer => true %>
  <div class="admin">
    <ul class="pull-right">
      <%= link_to 'Edit', edit_event_path(@event), :class => "btn btn-default" %>
      <%= link_to 'Delete', event_path(@event), :confirm => "Are you sure?", :method => :delete, :class => "btn btn-danger" %>
    </ul>
    <div class="clearfix"></div>
  </div>
  <% end %>
</div>
