<div class="container">
  <div class="row">
    <!-- Left column -->
    <div class="col-lg-6">
      <div class="row content">
        <h1>Overview</h1>
        <p>
          We are the ACM Student Chapter of Northeastern University's College
          of Computer and Information Science. The Association for Computing
          Machinery, or ACM, was founded in 1947 as the world's first scientific
          and educational computing society.
        </p>

        <ul>
          <li>
            Talks: We bring in a variety of speakers from both corporate and
            academic environments to broaden the insight and professional
            experience of our members. Check out the
            <%= link_to "events page", "#" %> to see when the next speaker is
            coming to <span class="logo"><strong>nu</strong>acm</span>!
          </li>

          <li>
            Social Events: Promote friendship and camaraderie among CCIS
            students and faculty, including "Geek Week", barbecues, and
            game nights.
          </li>

          <li>
            Lastly, we are a voice for the students of Northeastern University's
            College of Computer and Information Science. If you have any questions
            or comments about how something works, we will do our best to explain
            what you need to do to make your mark in our community.
          </li>
        </ul>
      </div>

      <div class="row content">
        <h1>Mission</h1>

        <p>
          The Chapter is organized and will be operated exclusively for educational
          and scientific purposes to promote the following:

          <ul>
            <li>
              An increased knowledge of and greater interest in the science,
              design, development, construction, languages, management and applications
              of modern computing.
            </li>

            <li>
              Greater interest in computing and its applications.
            </li>

            <li>
              A means of communication between students at Northeastern University
              having an interest in computing.
            </li>
          </ul>
        </p>
      </div>
    </div>

    <!-- Right column -->
    <div class="col-lg-4 col-lg-offset-1">
      <div class="row content">
        <h1>Awards Received</h1>

        <p>
          Over the years, we've received the following
          <a href="http://www.acm.org/chapters/students/essay-contest">ACM Student
            Chapter Excellence</a> awards:
        </p>

        <ul>
          <li>2010-2011 Outstanding Chapter Website</li>
          <li>2007-2008 Outstanding Chapter Website</li>
          <li>2006-2007 Outstanding Chapter Website</li>
          <li>2005-2006 Outstanding School Service</li>
          <li>2004-2005 Outstanding Activities</li>
          <li>2002-2003 Outstanding Chapter Website</li>
        </ul>
      </div>

      <div class="row content">
        <h1>Email</h1>

        <p class="center">
          Get in touch! We're <a href="mailto:acm@ccs.neu.edu">acm@ccs.neu.edu</a>.
        </p>
      </div>

      <div class="row content">
        <h1>Visit Us</h1>

        <address class="center">
          258 West Village H<br/>
          440 Huntington Avenue<br/>
          Boston, MA 02115
        </address>

        <p class="center">
          <a href="http://maps.google.com/maps?oi=map&q=440+Huntington+Ave,+02215">West Village H</a>,
          (WVH) "home" of Northeastern's CCIS students and faculty, is the tallest building in the area.
        </p>
      </div>

      <div class="row content">
        <h1>Snail Mail</h1>

        <address class="center">
          ACM c/o College of Computer & Information Science<br/>
          Northeastern University<br/>
          360 Huntington Avenue<br/>
          Boston, MA 02115
        </address>

        <p class="center">
          You can also reach us by fax (617-373-5121), or our adviser by phone: (617-373-2225)
        </p>
      </div>
    </div>
  </div>
</div>
