<div class="about-box">
    <h1 class="center">Events</h1>
</div>
<div class="about-box">
    <div class="icecream-crop"></div>
    <div class="icecream-crop" style="background:url('http://farm9.staticflickr.com/8096/8429144428_4e77b2f197_z.jpg') 70% 90%; float:right;"></div>

    <h2 class="center">Dean's Welcome</h2>
    <h5 class="center">Outside 102 West Village H at 3:30pm on September 3rd, 2013.</h5>
    <p>Join us for some free ice cream and meet some other new people and student groups (and groups of students) in 102 WVH.</p>
    <div class="clearfix"></div>
</div>
    