<div id="about" class="text">
    <p>
        <span class="nuacm">nuACM</span> is Northeastern University's
        student chapter of the Association for Computing Machinery. Working
        with the College of Computer and Information Science, we
        organize talks, social events, and workshops.
    </p>
</div>

<div id="photos" class="theme-default">
</div>

<div id="events">
    <h2>Upcoming Events</h2>
    <p>NOTE: The following events are only those sponsored/hosted by nuACM. To see CCIS or community events also, check out the <a href="#">Calendar</a> section!</p>
    <div id="events-list">
    </div>
</div>
