<div class="col-lg-7 col-md-7">
  <% if @post %>
    <h2>Latest News</h2>
    <%= render "shared/post", :post => @post %>
  <% end %>
</div>

<div class="col-lg-4 col-md-5 col-lg-offset-1">
  <h2>Upcoming Events</h2>
  <% @events.each do |event| %>
    <%= render "shared/event", :event => event %>
    <hr />
  <% end %>
  <%= link_to "View more events", events_path %>
</div>
