<div class="about-box">
  <h1>hi</h1>

  <p>We are Northeastern University's student chapter of the Association for
  Computing Machinery. Amongst other things, we organize talks and social
  events for the college.</p>
</div>
<div class="about-box">
  <h1>LOOK AT ALL THIS BEAUTIFUL COPY</h1>

  <p>Sup Copy</p>
</div>