<div class='about-box'>
    <h1>OpenHatch Comes to Campus</h1>
    <p>
        A few weeks ago, we had the pleasure of welcoming OpenHatch to Northeastern's campus for a day-long open source software immersion event. Our students started off learning about open source licensing and the collaboration tools that are used today in open source projects.
    </p>
    <p>
        Later that afternoon, students were able to learn how to make use of the open source community and contribute to projects. OpenHatch is a Massachusetts-based non-profit with the goal of expanding the open source community and lowing the barrier of entry for those wanting to get involved.
    </p>
    <img src="https://farm6.staticflickr.com/5538/9145652131_6a47647dc7_c.jpg">
    <p>
        You can find more information about them at their website or on Freenode at #openhatch.

    </p>
    <p>
        <i>Josh Caron
        <br />
        June 22nd, 2013</i>
    </p>
</div>