<div class="col-lg-7 col-md-7">
    <h2>Speaking at NUACM</h2>
    <p>If you're a developer, a maker, an engineer, or having something really
    cool to share, consider speaking at Northeastern University!</p>

    <p>NUACM is looking for speakers for our upcoming Fall 2013/Spring 2014
    school year. If you're a professor, a developer at a company, an entrepreneur,
    a hacker, or just generally awesome, we'd love to have you in for a talk.</p>

    <h2>What we look for in a talk</h2>
    <p>We're looking for developers and people who make things. If you're a
    company who wants to get someone in here, send a developer our way to give a
    talk or a workshop. We want to get our audience excited about technology,
    so keep it interesting!</p>

    <p>In the past we've had <a href="https://www.paypal.com/" target="_blank">Paypal</a> give a
    workshop on mobile development, <a href="https://github.com/" target="_blank">Github</a> talk
    about version control, and people like <a href="http://poppopret.org/" target="_blank">Michael Coppola</a> talk 
    about his <a href="http://www.youtube.com/watch?v=ZHDw4om6Wz4">cool
    hacks</a>.</p>

    <h2>Get in touch</h2>
    <p>If you're interested in being a speaker, shoot us an email at 
    <a href="mailto:acm@ccs.neu.edu">acm@ccs.neu.edu</a>. Make sure to include in
    the email what your talk/workshop would be about, who would be speaking, and
    a timeframe of when you'd be available to give the talk.</p>


</div>

<div class="col-lg-4 col-md-5 col-lg-offset-1">
  <h2>Frequently Asked Questions</h2>
  <h3>When can I come in and talk?</h3>
  <p>Our talks are normally Wednesdays at 6 PM. We aim to be consistent, but can
  make other arrangments if necessary.</p>
  <h3>Where are the talks?</h3>
  <p>The talks take place in West Village G, Room 104. Driving and parking
  directions are available on <a href="http://www.northeastern.edu/parking/wheretopark/index.html">Northeastern's website</a>.</p>
  <h3>Who do I contact about giving a talk?</h3>
  <p>You can contact the officers of NUACM at <a href="mailto:acm@ccs.neu.edu">
  acm@ccs.neu.edu</a>. Just mention that you want to give talk, and we'll be in
  touch!</p>
  <h3>Is there dinner provided?</h3>
  <p>We provide pizza and soda at every one of our events, free of charge.</p>
  <h3>Who is the audience?</h3>
  <p>Our talks are open to the public, the majority of the audience will be 
  comprised of Northeatern University students and professors.</p>
  <h3>How long do the talks last?</h3>
  <p>Our talks normally last for an hour. If you're looking to host a workshop,
  we can plan for a longer period of time.</p>
</div>
