<div class="col-lg-12">
  <% if logged_in? :as_officer => true %>
  <div class="well">
    <%= link_to 'Create', new_post_path, :class => "btn btn-primary" %>
  </div>
  <% end %>
</div>

<ol id="posts">
  <% @posts.each do |post| %>
  <div class="entry">
    <h2><%= link_to post.title, post_path(post) %></h2>
    <p><%= post.body %></p>
  </div>
  <% end %>
</ol>
