/* The ACM colors. */
$acm-blue:      #005ba1;
$acm-darkblue:  #003b69;
$acm-lightblue: #348cd0;

/* Highly dynamic CSS logo. Requires Bigtext.js. */
.acm-logo {
  width: 400px;
  margin: 0 auto;
  padding: 5px 20px 20px;
  text-align: center;
  color: $acm-lightblue;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

  h1 {
    display: inline-block;
    font-size: 100px;
    text-align: center;
    font-weight: 100;
    margin: 0;
    line-height: 80px;
    strong {
      font-weight: 400;
      font-variant: small-caps;
    }
  }

  span {
    font-size: 17px;
    letter-spacing: 4px;
    text-align: center;
  }

  &:hover {
    color: $acm-blue;
  }
}
