/* The ACM colors. */
$acm-blue:      #005ba1;
$acm-darkblue:  #003b69;
$acm-lightblue: #348cd0;

/* ACM Font */
@import url(http://fonts.googleapis.com/css?family=Raleway:100,500,200,600);

/* Highly dynamic CSS logo. Requires Bigtext.js. */
.acm-logo {
  color: $acm-lightblue;
  font-family: Raleway, sans-serif;
  text-align: center;
  font-weight: 100;

  div { line-height: 0.85em; }

  strong {
    font-weight: 500;
    font-variant: small-caps;
  }

  & div:nth-child(2) {
    font-variant: small-caps;
    padding-bottom: .5em;
  }
}

span.acm-logo {
  font-weight: 200;
  strong { font-weight: 600; }
}
