/* ACM Styles

These are all of the ACM spacific css style, including:
- Colors
- Logos
- Banners
- Fonts
- ...

All acm classes / variables start with `acm-`.

*/

$northeastern-red: #c00;

$acm-blue: #005ca1;
$acm-lightblue: #4b9cd5;

.acm-logo {
  background-color: $acm-blue;
  padding: 20px;

  h1 {
    color: #fff;
    font-size: 86px;
    text-align: center;
    font-weight: 100;
    margin: 0;
    line-height: 72px;
    strong { font-variant: small-caps; }
  }

  span {
    font-size: 17px;
    color: $acm-lightblue;
    display: block;
    letter-spacing: 3px;
    text-align: center;
  }
}