/* admin.css.scss
This is where styles for admin only features of the site will live. */

.admin {
  padding: 10px;
  margin: 20px 0;
  background: $navbar-inverse-bg;
  border: 1px solid $navbar-inverse-border;
  border-radius: 5px;
  color: $navbar-default-brand-color;

  ul, li {
    display: inline-block;
  }

  ul {
    padding: 0;
    margin: 0;
  }
}
