@import "normalize";
@import "bourbon";
@import "neat";
@import "acm";
@import "pages";

div.container {
  @include outer-container;

  header a {
    display: block;
    text-decoration: none;
  }

  nav {
    background-color: $acm-lightblue;

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      overflow: hidden;
    }

    ul li {
      float: left;
      margin-left: 10px;

      a {
        display: block;
        padding: 5px;
        color: $acm-blue;
        text-decoration: none;
      }

      a:hover, a.current {
        color: #fff;
        background-color: $acm-blue;
      }
    }
  }
}