// 3rd party.
@import "normalize";
@import "bourbon";
@import "neat";

// Global styles.
@import "global";

// Our element's styles.
@import "elements/logo";

// View styles.
@import "playground";

/* Site-wide styles. */
div.container {
  position: relative;

  // Width of the container.
  $max-width: 756px;
  @include outer-container;

  // 20px horizontal padding for the container.
  padding: 0 20px;

  // The site navigation's width.
  $nav-width: 400px;

  /* The site's logo. */
  header a {
    display: block;
    margin: 0 auto;
    width: $nav-width;
    text-decoration: none;
    width: $nav-width;

    &:hover {
      color: $blue;
    }
  }

  /* Navigation bullet. */
  nav {
    width: $nav-width;
    margin: 0 auto 20px;
    background-color: $lightblue;
    border-radius: 5px;
    overflow: hidden;

    ul {
      position: relative;
      float: left;
      display: block;
      left: 50%;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    ul li {
      position: relative;
      display: block;
      float: left;
      right: 50%;

      a {
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: 300;
        font-size: 18px;
        display: block;
        padding: 5px 14px;
        margin: 3px 0;
        color: #eee;
        text-decoration: none;
      }

      a:hover, a.current {
        border-bottom: 3px solid $blue;
        margin-bottom: 0;
      }
    }
  }
}
