@import "global";

.login {
	text-align: center;

	.btn {
		width: 100%;
		margin-bottom: 20px;
	}

	a {
		width: 100%;
   		border: solid 1px black;
		max-width: 250px;
		padding: 10px 0;
		display: inline-block;
		text-decoration: none;

		&:visited {
			color: black;
		}

		&:hover {
			background-color: #EDEDED;
		}
	}

	.logged-in {
		text-align: left;
		margin-bottom: 20px;
	}

}