/* =============
Here be dragons.
================ */

/* The ACM colors. */
$grey:		#37464A;
$whitegrey:	#eeeeee;
$blue:      #005ba1;
$oldblue:	#066B80;
$lightblue: #099AB8;
$acmblue: 	#0697A3;
$dutchteal: #1693A5;

$alert: 	#FF4949;
$success:	#5CFC62;

/* unused swatches? */
$darkblue:  #003b69;
$teal:		#3BBBB2;