/* =============
Here be dragons.
================ */

/* The ACM colors. */
$blue:      #005ba1;
$darkblue:  #003b69;
$lightblue: #348cd0;

$acmblue: 	#0697A3;
$grey:		#999999;
$teal:		#3BBBB2;

$alert: 	#FF4949;
$success:	#5CFC62;