/* layout.css.scss
This is where the layout of the page is defined. If you are looking for a
place to put element styles or global styles look in styles.css.scss or
/elements */

html, body {
  height: 100%;
}

.navbar {
  margin-bottom: 0;

  .navbar-brand {
    padding: 12px;

    img {
      max-height: 26px;
    }
  }

  ul {
    height: 100%;
  }
}

#pitch {
  // This used to be a random image, but this setup isn't compatible
  // with the way we were doing it before. Womp womp.
  background: url('/images/selfie.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em 0;
  color: #FFF;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 350px;
  margin-bottom: 2em;

  .jumbotron {
    background: none;

    .lead {
      font-size: 2em;
    }
  }
}

#footer {
  background-image: url('/images/square_bg.png');
  background: $dark;
  color: #FFF;
  text-align: center;

  p {
    margin: .96em 0;
  }
}
