/* global.css.scss
This is where sitewide styles are defined. Need to style a link or codeblock
this is the right place. */

.entry {
  margin-bottom: 10px;
  padding: 5px 15px 10px;

  &:nth-child(even) {
    background-color: #eee;
  }
}

.single {
  background-color: #eee;
  padding: 12px;
  margin-bottom: 12px;
  min-width: 150px;

    h3 {
      margin-top: .25em;
    }

    .email {
      overflow:hidden;
      text-overflow: ellipsis;
      white-space:nowrap; 
      width: 90%;
    }
}
