/* global.css.scss
This is where sitewide styles are defined. Need to style a link or codeblock
this is the right place. */

.detail {
  display: inline-block;
  margin: 0 5px 5px 0;
  vertical-align: middle;
}