/* global.css.scss
This is where sitewide styles are defined. Need to style a link or codeblock
this is the right place. */

.entry {
  margin-bottom: 20px;
  padding: 5px 15px 10px;

  &:nth-child(even) {
    background-color: #eee;
  }
}