<div class="content">
  <h1>Members</h1>

  <p>As an ACM member, you get access to stuff.</p>

  <ul id="members">
    <% @members.each do |member| %>
      <li><%= link_to member.name, member_path(member) %></li>
    <% end %>
  </ul>
</div>
