<div class="container">
<div class="row">

	<div class="col-lg-9 col-md-9">

<h1>Members</h1>

<ul id="members">
  <% @members.each do |member| %>
    <h3><%= link_to member.name, member_path(member) %></h3>
    <p><span class="glyphicon glyphicon-envelope"></span> <%= member.email %></p>
  <% end %>
</ul>

</div>

<div class="col-lg-3 col-md-3">
	<h1>Benefits</h1>
	<p>As an ACM member, you get access to stuff.</p>
	<a class="btn btn-success btn-lg btn-block" href="#">Join!</a>
</div>

</div>
</div>